# MANU 465 Assignment 2 - Titanic Classification

### Author:

Liam Bontkes, 25530163

## Project Description

This project uses a dataset of Titanic passenger information to predict if the passenger survived during the Titanic
sinking incident. The performance from five different machine learning models are then compared: Discriminant Analysis,
KNN, Naive Bayes, SVM-Linear, SVM-Nonlinear.

## Import libraries

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

### Import the dataset

In [10]:
dataset = pd.read_csv('../data/Titanic.csv')

### Review the data

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   PassengerId                        891 non-null    int64
 1   Pclass                             891 non-null    int64
 2   Name                               891 non-null    object
 3   Sex                                891 non-null    object
 4   Age                                714 non-null    float64
 5   Number of Siblings/Spouses Aboard  891 non-null    int64
 6   Number of Parents/Children Aboard  891 non-null    int64
 7   Fare                               891 non-null    float64
 8   Embarked                           889 non-null    object
 9   Survived                           891 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

### Encode the categorical data

### Separate the Input and Output data

In [12]:
# remove Passenger ID from input data
x = dataset.iloc[:, 1:-1]
y = dataset.iloc[:, -1]

In [13]:
# check input data
pd.DataFrame(x)

,Pclass,Name,Sex,Age,Number of Siblings/Spouses Aboard,Number of Parents/Children Aboard,Fare,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [14]:
# check output data
pd.DataFrame(y)

    Survived
0         No
1        Yes
2        Yes
3        Yes
4         No
..       ...
886       No
887      Yes
888       No
889      Yes
890       No

[891 rows x 1 columns]

### Take care of missing data

In [15]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(
	missing_values=np.nan,
	strategy='mean'
)

x = imputer.fit_transform(x)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Braund, Mr. Owen Harris'

### Encode the independent variables

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(
	transformers=[('encoder', OneHotEncoder(), [0])],
	remainder='passthrough'
)

x = ct.fit_transform(x)

### Encode the dependant variable

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

y = le.fit_transform(y)